@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root {
  box-sizing: border-box;
  --main-size: 60rem; /* 480px */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana sans-serif;
  font-family: 'MonteCarlo', cursive;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

.main-container {
  /*display: flex;*/
  height: 100vh;
  background-color: #DAB31B;
  /*position: relative;*/
}
.container {
  margin: 0 auto;
  flex: 0 0 auto;
  /*background-image: url('./bg.jpg');*/
  /*use below bg on menu tab*/
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('./bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  gap: 2rem;
  
}
.flex-top-box {
  width: min(max(var(--main-size), 100%), calc(var(--main-size) * 2));
  min-height: var(--main-size);
  border: 0.0625rem solid black;
  background-color: #D2DAED;
  /*background-color: #EA906C;*/
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.flex-box {
  /*min-height: 2.5rem;*/
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  /*border: 0.0625rem solid goldenrod;*/
}
.flex-item {
  flex: 0 0 100%;
}

.heading {
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 20%;

  /*position: sticky;
  top: 0;*/
}
.logo {
  min-width: 10%;
  flex: 0 0 auto;
}
.logo h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #F2C20B;
}
.nav {
  min-width: 10%;
  flex: 0 0 auto;
  gap: 2rem;
  align-items: center;
}
.nav button {
  font-family: 'Mochiy Pop P One', sans-serif;
  min-width: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  /*border: 0.0625rem solid black;*/
  background-color: transparent;
  color: #ddd;
}
.nav button:hover {
  color: #fff;
  cursor: pointer;
  border-bottom: 0.125rem solid #fff;
}

.content {
  padding: 0 20%;
  gap: 2rem;
}
.menu {
  /*background-image: url('./mango.jpg');*/
  background-size: cover;
  background-attachment: fixed;
  border-radius: 2rem;
  /*flex: 1 0 100%;*/
  /*box-shadow: inset 1rem 1rem rgba(0,0,0,.6), inset -1rem -1rem rgba(0,0,0,.6);*/
  border: .125rem solid #ddd;
  box-shadow: inset 0rem 4rem rgba(0,0,0,.6);
  min-height: 25rem;
  padding: 0 20%;
  flex: 0 0 100%;

}
.menu:hover {
  cursor: pointer;
  border: .125rem solid #F2C20B;
}
.mango {
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('./mango.jpg');
}
.orange {
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('./orange.jpg');
}
.strawberry {
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('./strawberry.jpg');
}
.melon {
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('./melon.jpg');
}
.content .home-para {
  /*font-family: 'Times New Roman', Times, serif;*/
  font-size: 4.5rem;
  width: 25rem;
  color: #fff;
  margin: 0;
}
.content p {
  color: #fff;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 2.5rem;
  /*min-height: 25rem;*/
  width: 100%;
  margin: .5rem 0;
}
.menu p:nth-child(1) {
  text-align: center;
}
.menu p:nth-child(2) {
  font-size: 1.2rem;
}

.content .contact-para {
  margin: 0;
}
.content .details {
  font-size: 1.5rem;
}

.footer {
  padding: 0 20%;
  justify-content: center;
}
.footer p {
  font-family: 'Times New Roman', Times, serif;
  font-size: .7rem;
  margin: .5rem 0;
  color: #ddd;
}
